
.title {
    margin: 0;
    padding: 5px;
    text-align: center;
    font-size: 4rem;  
}

.text{
    text-align: center;
}

.body {
    background-color: var(--black);
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
}

.header, .game-container{
    display: flex;}

.game-container {
    padding: 20px 30px;
    position: relative;
    margin: auto;
    height: 350px;
    width: 450px;
}

.figure-container {
    fill: transparent;
    stroke:var(--white);
    stroke-width: 4px;
    stroke-linecap: round;
}

.figure-part {
    display: none;
}

.wrong-letters-container {
    width: 200px;
    position: absolute;
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px;
    top: 50px;
    margin-left: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.wrong-letters-container p {
    margin: 0 0 5px;
}

.wrong-letters-container span {
    font-size: 24px;
}

.word {
    display: flex;
    left: 200px;
    position: absolute;
    top: 170px;
    transform: translateX(-50%);
}

.letter {
    border-bottom: 3px solid var(--white);
    display: inline-flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    height: 50px;
    width: 20px;
}

.popup-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
}

.popup {
    background-color: rgb(74, 74, 121);
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.popup button {
    cursor: pointer;
    background-color:var(--white);
    color: var(--black);
    border: 0;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
}

.popup button:active {
    transform: scale(0.98);
}

.popup button:focus {
    outline: 0;
}

.notification-container {
    background-color: rgba(117 109 29 / 0%);
    color: rgba(0, 0, 0, 0.053);
    border-radius: 10px 10px 0 0;
    padding: 150px 20px;
    position: absolute;
    bottom: -50px;
    transition: transform 0.1s ease-in-out;
}

.notification-container p {
    margin-bottom: 0;
}

.notification-container.show {
    color: var(--white);
    transform: translateY(-20px);
}

 @media (max-width: 800px) {
    .wrong-letters-container {
           right: 50px;
        }
 }